body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050202;
}
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(44, 32, 32, 0.1);
}
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #001b38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #001327;
}
.coracoes {
    margin-top: 20px;
    font-size: 2em;
}
.coracao {
    display: inline-block;
    margin: 0 5px;
}
